.checkout-container{
    margin: 0 10%;
    max-width: 1000px;
    // flex-flow: column-reverse;
    // display: flex;

    .form-container{
        width: 100%;
        height: 100%;
        border: white;
    }
}