html {
    // overflow-x: hidden;
    // overflow-y: hidden;
    // height: 100vh;
    // width: 100vw;
    margin: 0 !important;
    height: 100%;
    width: 100%;
}

body {
    margin: 0 !important;
    font-family: 'Montserrat', sans-serif;
    // overflow: hidden;
    background: #2a2736;
    color: white;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

a{
    text-decoration: none;
    color: unset;
    &:hover{
        color: unset;
        text-decoration: underline;
    }
}

.page-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.font-harry-potter {
    font-family: 'Harry Potter', sans-serif;
}

.app-container {
    height: 100%;
    margin: 0 auto;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    .question-mark-bg {
        position: fixed;
        z-index: -1;
        &-1{
            left: 24vw;
            top: 7vh;
            transform: rotate(-23deg);
            height: 25vh;
        }
        &-2{
            right: -4%;
            transform: rotate(25deg);
            height: 38vw;
            bottom: -7vh;
        }
    }
}

.container-flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    border-radius: 30px;
    font-family: "Harry Potter", sans-serif;
    font-size: 20px;
    padding-top: 14px;
    min-width: 150px;

    a:hover{
        text-decoration: none !important;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #eb6b34;
    border-radius: 100px;
}