.tiles-container{
    display: flex;
    gap: 30px;
}
.tile {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
    min-width: 300px;
    min-height: 300px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 0px black;
    padding-top: 18px;

    &.selected{
        box-shadow: 0px 0px 8px 5px orange !important;
        transform: scale(1.05);
        transition: ease-in-out 0.2s;
    }

    &:hover:not(.tile--show-details){
        cursor: pointer;
        transform: scale(1.05);
        transition: ease-in-out 0.2s;
    }

    .name {
        color: black;
        font-size: 18px;
        margin-top: 20px;
        font-weight: bolder;
        bottom: 60px;
        max-width: 240px;
        text-align: center;
        font-family: 'Harry Potter', sans-serif;
    }

    &-details-button{
        color: orange;
        font-size: 12px;
        font-weight: bolder;
        bottom: 30px;
        max-width: 200px;
        text-align: center;
        // font-family: 'Harry Potter', sans-serif;
        margin-top: 10px;

        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &--show-details{
        max-height: 80vh;
        height: 80vh;
        justify-content: unset;
        width: 80%;
        margin: 0 auto;

        .tile-checkout-details{
            color: black;
            font-size: 12px;
            font-weight: bolder;
            text-align: left;
            width: 100%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            height: 100%;

            &--parts{
                &__part {
                    font-size: 11px;
                    display: flex;
                    gap: 5px;
                    padding: 5px;
                    img{
                        height: 50px;
                    }

                    div{
                        height: 100%;
                        width: 89%;
                    }

                    &-number{
                        color: orange;

                    }
                }
            }

            .submit-btn-container{
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding-bottom: 10%;
            }
        }
    }

    .img-placeholder{
        opacity: 0.1;        
    }
}

