
.customBtn{
    position: relative;

    .spinner-border{
        border-width: 0.15em;
        width: 1.3rem;
        height: 1.3rem;
        position: absolute;
        left: 45%;
    }

    .opacity-zero{
        filter: opacity(0.0);
    }
}