.react-flags-select{
    background: white;
    border-radius: 0.25rem;
    height: 38px;

    & button{
        padding: 3px 5px;
    }

    & ul {
        color: black;
        max-height: 420px;
    }
}

.PhoneInputInput{
    border: none;
    outline: none;
}

.PhoneInputCountryIcon {
    height: 13px !important;
    border: none;
    box-shadow: unset !important;
    background-color: unset !important;
}

